/* Barra superior */
.navbar {
	margin-bottom: 0;
}

.login-form {
	min-width: 250px;
	padding: 14px 14px 14px;
	overflow: hidden;
}
/* Jumbotron */
.jumbotron {
	padding: 5px 0;
}

.jumbotron .fuentetit-jumbotron {
	font-size: 40px;
}

.jumbotron .fuentesubt-jumbotron {
	font-size: 20px;
}
/* Post */
.title {
	text-align: center;
	margin-bottom:30px;
}
.main {
	margin-top: 20px;
	margin-bottom: 20px;
}
/* Footer */
.container-footer {
	color: #9d9d9d;
	padding: 5px 10px;
	background-color: #222;
	border-color: #080808;
	position: relative;
}